body{
    max-width: 100vw;
    max-height: 100vh;
    margin: 0px;
    border: 0px;
    font-family: sans-serif;
}
.container{
    display: flex;
    flex-flow:row wrap;
    justify-content: space-between;
    align-items: stretch;

    height: 100vh;
}
.item{
    display: grid;
    flex-grow: 1;
    place-items: center;
    margin:3px;
    border:1px dashed rgb(216, 112, 147);
    border-radius: 30px;
    background-color: rgb(216, 112, 147, 0.7);
    
}
